.cta {
  position: relative;
  margin: auto;
  padding: 8px 22px;
  transition: all 0.2s ease;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(134, 240, 4, 0.761);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta.black span {
  position: relative;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta.black.nv span {
  position: relative;
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta.black svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #000000;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #83ce0bf6;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}

.pagination .page-item.active .page-link {
  background-color: #007bff; /* Cambia este color por el que desees */
  border-color: #007bff; /* Cambia este color por el que desees */
  color: white; /* Color del texto */
}

/* Opcional: Cambiar el color de los links normales */
.pagination .page-link {
  color: #007bff; /* Color de los links no activos */
}

/* Opcional: Cambiar el color del hover */
.pagination .page-link:hover {
  background-color: #0056b3; /* Cambia este color por el hover */
  color: white;
}